img{
    width: 300px;
    margin-left: 100px;
    display: block;
    border-radius: 25px;
}

.name{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.price{
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.categoria{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}
